In [1]:
import pandas as pd
import numpy as np 
from sklearn.tree import DecisionTreeRegressor, plot_tree

In [2]:
df = pd.read_csv('/Users/ethanalter/Dropbox (Personal)/GA-4K-DataScience/git-class-do_not_modify/dat-11-15/Homework/Unit2/data/housing.csv')

In [3]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
tree = DecisionTreeRegressor(max_depth = 3)

In [6]:
X = df.drop('PRICE', axis=1)
y = df['PRICE']

tree.fit(X,y)

DecisionTreeRegressor(max_depth=3)

## Quantifying relative importance of features 

Think coefficients for linear regression

In [10]:
tree.feature_importances_
#this is very cool!

array([0.03254249, 0.        , 0.        , 0.        , 0.0288244 ,
       0.64124098, 0.        , 0.0721473 , 0.        , 0.        ,
       0.        , 0.01593447, 0.20931036])

In [8]:
feats = pd.DataFrame({'Column': X.columns,
                      'Importance': tree.feature_importances_})

In [9]:
feats.sort_values(by = 'Importance', ascending = False)

     Column  Importance
5        RM    0.641241
12    LSTAT    0.209310
7       DIS    0.072147
0      CRIM    0.032542
4       NOX    0.028824
11        B    0.015934
1        ZN    0.000000
2     INDUS    0.000000
3      CHAS    0.000000
6       AGE    0.000000
8       RAD    0.000000
9       TAX    0.000000
10  PTRATIO    0.000000

## Filling in Missing Data

#### Tree-based models are your friend here!

In [14]:
url = r"/Users/ethanalter/Dropbox (Personal)/GA-4K-DataScience/gazelle-4K/data_master/master.csv"

In [15]:
df = pd.read_csv(url)

When you're dealing with missing values, it's important to understand if the data is missing for a random reason or a non-random reason

In [17]:
#transform is very helpful for making a new column from grouped data 

#so if you think that reserve_visitor values correspond to days and areas, you can group by days and areas 
#then you'd use transform to "broadcast" those values to the entire dataset

transformed = df.groupby(['day_of_week', 'area'])['reserve_visitors'].transform('mean')

In [18]:
#then you'd take the above and fill in the na
df['reserve_visitors'] = df['reserve_visitors'].fillna(transformed.astype(int))

In [22]:
df[df['reserve_visitors'].isnull()].count()
#successfully filled in based on averages across the day of week and area grouping

id                  0
visit_date          0
visitors            0
day_of_week         0
holiday             0
genre               0
area                0
latitude            0
longitude           0
reserve_visitors    0
dtype: int64

You can also use a model to make the predictions of missing values